.container {
    min-height: 100vh;
    font-weight: 400;
    padding-top : 100px;
}

td, th {
    padding-left: 10px;
}

.including_mine {
    display: inline;
    background: white;
    padding: 10px;
    border-radius: 0.3rem;
}