<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Play Safeway Monopoly Together</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [hidden]="!this.authService.isAuthenticated()">
          <a class="nav-link"  href="#board" target="_self">Board</a>
        </li>
        <li class="nav-item" [hidden]="!this.authService.isAuthenticated()">
          <a class="nav-link"  href="#match" target="_self">Match</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link"  href="#analysis" target="_self">Analysis</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-secondary my-2 my-sm-0" (click)="authService.login()" [hidden]="isAuthenticated()">Sign In</button>        
        <button class="btn btn-secondary my-2 my-sm-0" (click)="authService.logout()" [hidden]="!isAuthenticated()">Logout</button>
        <div class="profileImage" *ngIf="isAuthenticated()"><img class="profileImage" [src]="getUserPicture()"></div>
      </form>
    </div>
</nav>