.user-emails-list {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    min-height: 500px;
    background: rgba(255, 255, 255, 0.4);
}

h3 {
    padding: 5px;
    font-weight: 600;
}

.ticket-exchange {
    width: 100%;
    border: 1px solid #fff;
}

.ticket-exchange td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.can-offer {
    background: green;
}

