<div class="container main">
  <div class="row intro-row">
    <div class="col-12">
      <div class="intro-text">
        <div class="title text-center">Monopoly 2017</div>
       
       
        <div class="col-12">
          <ul class="list-text">
            <li class="mt-2"> Lets play together and win big.</li>
            <li> Manage your board by marking tickets which you have. </li>
            <li> Use + and - icon to keep count of repeating ticket.</li>
            <li> Will search for people who has tickets which you don't have.</li>
            <li> Contact them and make arrangement for getting ticket. What will be the arrangement? - that is upto you.</li>
            <li> Spread the word, more people equals higher chance of winning. </li>
            <li> Email me at <a href="mailto:playsafewaymonopolytogether@gmail.com?Subject=Monopoly ticket" target="_top">playsafewaymonopolytogether@gmail.com</a> if you have any question or ideas to improve.</li>
          </ul>
        </div>



        <div class="bottom-notes text-center w-100">
                <div> I don't make any money from this website. I learn by creating small projects and also giving myself a chance to win.</div>
                <div>By Sign in/Log in to this website you are aggreeing to share your information to others.</div>
                <div>Your profile info, email, monopoly board, tickets and other details will and may be available to other users.
                Share and collabrate.</div>
                <div>Copyright © 2017 Sumant Chhunchha. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
</div>