<app-auth></app-auth>
<div style="height: 100vh; overflow-y: auto;">
    <app-introduction [hidden]="this.authService.isAuthenticated()"></app-introduction>
    <app-board id="board" [hidden]="!this.authService.isAuthenticated()"></app-board>
    <div [hidden]="!this.authService.isAuthenticated()" id="help" class="row">
        <div style="margin-top: 4rem" class="col card-shadow alert alert-warning text-center">
            <strong >
                <a href='mailto:playsafewaymonopolytogether@gmail.com?Subject=Monopoly ticket' target='_top'>Email</a> me or contact me on Google Hangout: playsafewaymonopolytogether@gmail.com 
            </strong>
        </div>
    </div>
    <app-match id="match" [hidden]="!this.authService.isAuthenticated()"></app-match>
</div>

