/* You can add global styles to this file, and also import other style files */

.modal-body {
    font-size: 16px;
}

span.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.row {
    margin: 0 !important;
}

.col {
    padding: 0;
}

.table-responsive {
    display: table !important;
}

.rare_ticket_star {
    width: 40px;
    text-align: right;
}

.rare_ticket_star img {
    width: 40px;
}